<section class = "show" style = "padding 20px">

<h3>Add Mld Mate</h3>

<br>

<%= render 'form', mld_mate: @mld_mate %>

<br>

<%= link_to 'Back', mld_mates_path, class: "btn btn-dark" %>

</section>

