<div class = "about">

<h2>Machine learning academy</h2>

<p>
	The best projects you can find about machine learning applied to real life problems %>
</p>







the result is <%= @answer %>
<br/>
<br/>
you say <%= @tonces %>



<div/>

